<title>TinyApp</title>

<% if (user) {  %>
  <%= user.email   %>
<form method="POST" action="/logout">
    <button type="submit">Log Out</button>
</form>
<% } else {     %>
<form method="POST" action="/login">
    <input name="email" type="email">
    <input name="password" type="password">
    <button type="submit">Log In</button>
</form>
<a href="/register">Register</a>
<% }            %>


