<!DOCTYPE html>
<html lang="en">

<head></head>

<body style="font-size:20px; padding:50px;">
    <form method="POST" action="/register">
        <input name="email" type="email">
        <input name="password" type="password">
        <button type="submit">Register</button>
    </form>
</body>

</html>