<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <% include ./partials/_header %>
    <!-- Add your EJS code here -->
    <ul>
      <% for(var url in urls){  %>
      <li>  <%= url %> : <%= urls[url] %> </li>
      <% } %>
     </ul>
     <a href ="#">  link for shortening urls </a>

     <form method="POST" action="/urls/9sm5xK/delete">
      <button>delete</button>
    </form>
</body>
</html>