<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <% include ./partials/_header %>
    <!-- Add your EJS code here -->
      <h1>ShortURL: <%= shortURL %></h1>
      <form method="POST" action="/urls/<%= shortURL %>">
        <input value= "<%= longURL %>" id="longURL" type="text" name="longURL" style="width: 300px">
        <button>update</button>
      </form>
</body>
</html>

