<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <% include ./partials/_header %>
    <!-- Add your EJS code here -->
   <% if (shortURL === "b2xVn2" ){          %>
   <p> <%= shortURL %>: http://www.lighthouselabs.ca </p>
   <% } else if (shortURL === "9sm5xK") {  %>
   <p> <%= shortURL %>: http://www.google.com </p>
   <% }                                     %>
</body>
</html>

